mixin customer-card(item)
  .customer-card
    .customer-card__logo
      img(src="images/main/" + item.img + ".jpg", srcset="images/main/" + item.img + "@2x.jpg 2x" , width="", height="", alt="")
    .customer-card__title!= item.title
    .customer-card__grid
      .customer-card__item
        .customer-card__item-text!= item.city
        .customer-card__item-hint Город
      .customer-card__item
        .customer-card__item-text!= item.square
        .customer-card__item-hint Площадь
      .customer-card__item.customer-card__item--full
        .customer-card__item-text!= item.text 
        .customer-card__item-hint= item.type 

      