mixin title(text, className, tag = 'h1', logo)
  - const combinedClassName = `${className} ${(tag === 'h1') ? 'title--primary' : ''}`
  .title(class= combinedClassName)
    #{tag}.title__item=text

    if logo
      .title__logo
        img(src=logo.src alt=logo.alt?logo.alt:'').image

