extends ../layouts/default

block vars
  -
    const page = {
      title: 'Технологии',
      content: {
        title: 'Технологии',
        text: `Решения для <span class="text--highlighted">оптимального</span> управления объектами недвижимости`,
        cards: [
          {
            link: '#',
            title: 'Цифровая экосистема',
            description: 'F24 -  это система, объединившая самые современные технологии управления активами предприятия (EAM) управлением потоком заявок, работ и оптимизацией бюджета.',
            image: 'images/technologies/tech-card-1.png',
          },
          {
            link: './quality.html',
            title: 'Контроль качества',
            description: '27 лет Facilicom подтверждает высокие стандарты качества предоставляемых услуг обслуживания и управления объектами недвижимости.',
            image: 'images/technologies/tech-card-2.png',
          },
          {
            link: '#',
            title: 'Персонал',
            description: 'Наш бизнес - это люди. Мы понимаем, что клиент получит максимальное качество услуги, когда с ним работают вовлеченные сотрудники - главная ценность сервисной компании.',
            image: 'images/technologies/tech-card-3.png',
          },
          {
            link: '#',
            title: 'Маркетплейс',
            description: 'Благодаря созданному в F24 маркетплейсу есть возможность сравнить цены, заказать и получить материалы и запчасти по оптимизированной стоимости в более сжатые сроки и онлайн в любом регионе России.',
            image: 'images/technologies/tech-card-4.png',
          },
        ],
      },
    };

block main
  section.technologies.section--first
    .container
      .content
        +title(page.content.title, 'technologies__title')
        
        +text(page.content.text, 'technologies__text')

        .technologies-cards
          .technologies-cards__wrapper
            each card, index in page.content.cards
              a(href=card.link).technologies-card.technologies-cards__item
                .technologies-card__bg(class=`technologies-card__bg--${index+1}`)
                  img(src=card.image, alt="").image

                .technologies-card__wrapper
                  h2.technologies-card__title
                    span.technologies-card__title--f
                      | F24.
                    span.technologies-card__title=card.title
                  
                  p.technologies-card__description=card.description

