extends ../layouts/default

block vars
  -
    const page = {
      title: 'Технологии',
      content: {
        title: 'Технологии',
        text: `Решения для <span class="text--highlighted">оптимального</span> управления объектами недвижимости`,
        cards: [
          {
            link: './quality.html',
            title: 'Цифровая экосистема',
            description: 'F24 -  это система, объединившая самые современные технологии управления активами предприятия (EAM) управлением потоком заявок, работ и оптимизацией бюджета.',
            image: 'images/technologies/tech-card-1.png',
          },
          {
            link: './quality.html',
            title: 'Контроль качества',
            description: '27 лет Facilicom подтверждает высокие стандарты качества предоставляемых услуг обслуживания и управления объектами недвижимости.',
            image: 'images/technologies/tech-card-2.png',
          },
          {
            link: './quality.html',
            title: 'Персонал',
            description: 'Наш бизнес - это люди.<br>Мы понимаем, что клиент получит максимальное качество услуги, когда с ним работают вовлеченные сотрудники - главная ценность сервисной компании.',
            image: 'images/technologies/3.png',
          },
          {
            link: './quality.html',
            title: 'Маркетплейс',
            description: 'Благодаря созданному в F24 маркетплейсу есть возможность сравнить цены, заказать и<br>получить материалы и запчасти по оптимизированной стоимости в более сжатые сроки и онлайн в любом регионе России.',
            image: 'images/technologies/tech-card-4.png',
          },
        ],
      },
    };

block main
  section.technologies.section--first
    .container
      .content
        +title(page.content.title, 'technologies__title')
        
        +text(page.content.text, 'technologies__text')

        .technologies-cards
          .technologies-cards__wrapper
            each card, index in page.content.cards
              if index === 2
                a(href=card.link).technologies-card.technologies-cards__item
                  .technologies-card__bg(class=`technologies-card__bg--${index+1}`)
                    img(src=card.image, alt="").image

                  .technologies-card__wrapper
                    h2.technologies-card__title
                      span.technologies-card__title--f
                        | F24.
                      span.technologies-card__title=card.title
                    
                    p.technologies-card__description!=card.description
              else if index === 3
                a(href=card.link).technologies-card.technologies-cards__item
                  .technologies-card__bg(class=`technologies-card__bg--${index+1}`)
                    .technologies-card__bg4--1
                      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        span.technologies-card__bg4-line(class=`technologies-card__bg4-line--${val}`)

                    .technologies-card__bg5
                      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
                        span.technologies-card__bg5-line(class=`technologies-card__bg5-line--${val}`)

                  .technologies-card__wrapper
                    h2.technologies-card__title
                      span.technologies-card__title--f
                        | F24.
                      span.technologies-card__title=card.title
                    
                    p.technologies-card__description!=card.description
              else
                a(href=card.link).technologies-card.technologies-cards__item
                  .technologies-card__bg(class=`technologies-card__bg--${index+1}`)
                    img(src=card.image, alt="").image

                  .technologies-card__wrapper
                    h2.technologies-card__title
                      span.technologies-card__title--f
                        | F24.
                      span.technologies-card__title=card.title
                    
                    p.technologies-card__description!=card.description

