extends ../layouts/default

block vars
  -
    const page = {
      title: 'Приглашение на тендер',
      content: {
        title: 'Приглашение на тендер',
        text: 'Если вы находитесь в поиске подрядчика, вы можете пригласить нас для участия в вашем тендере.Мы оказываем полный спектр фасилити-услуг и работаем с объектами любой сложности.',
        description: `Вы можете направить тендерные материалы  на <a href="sales@facilicom.ru" class="email">sales@facilicom.ru</a> или заполнить форму ниже. `,
        form: {
          title: 'Пишите нам',
          inputs: [
            {
              name: 'company',
              placeholder: 'Компания',
              required: true,
            },
            {
              name: 'person',
              placeholder: 'Контактное лицо',
              required: true,
            },
            {
              type: 'email',
              name: 'email',
              placeholder: 'E-mail контактного лица',
              required: true,
            },
            {
              type: 'tel',
              name: 'tel',
              placeholder: 'Телефон контактного лица',
              required: true,
            },
            {
              name: 'date',
              placeholder: 'Срок окончания приема заявок',
              required: true,
            },
          ],
          button: {
            type: 'submit',
            class: 'tender-form__button',
            text: 'Отправить сообщение',
            color: 'orange',
          },
        },
      },
    };

block main
  section.tender.section--first
    .container
      .content
        +title(page.content.title, 'tender__title margin-bottom--title')
        
        +text(page.content.text, 'tender__text margin-bottom--text')

        p.tender__description.margin-bottom--block!=page.content.description
      
      .tender-contacts
        .content
          +form(page.content.form)
          //- form(action="https://echo.htmlacademy.ru" method="POST").tender-form.tender-contacts__form
          //-   .tender-form__title=page.content.form.title

          //-   .tender-form__wrapper
          //-     each input in page.content.form.inputs
          //-       .tender-form__input.input
          //-         input(type=input.type?input.type:'text' name=input.name placeholder=input.placeholder required=input.required?true:false).input-item.tender-form__input-item
              
          //-   .tender-form__wrapper.tender-form__extra
          //-     .tender-form__input.tender-form__extra-text.input
          //-       textarea(name="message" placeholder="Сопроводительное письмо").input-item.input-item--textarea.tender-form__input-item
              
          //-     label.upload.tender-form__extra-file
          //-       span.upload__text
          //-         | Прикрепить файл

          //-       svg(width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg").upload__icon
          //-         circle(cx="27" cy="27" r="26.5" stroke="#A6B4BF")
          //-         path(d="M37.125 22.6675V24.3125C37.125 26.9637 34.9638 29.125 32.3125 29.125C29.6613 29.125 27.5 26.9637 27.5 24.3125V22.125H26.1087C26.0562 22.125 25.995 22.0987 25.96 22.0637L24.7175 20.8213C24.4287 20.5325 24.0438 20.375 23.6413 20.375H19.4062C18.0763 20.375 17 21.4513 17 22.7812V33.7188C17 35.0487 18.0763 36.125 19.4062 36.125H35.5938C36.9237 36.125 38 35.0487 38 33.7188V24.5312C38 23.7875 37.6588 23.1137 37.125 22.6675Z" fill="#A6B4BF")
          //-         path(d="M32.3125 27.375C30.6238 27.375 29.25 26.0013 29.25 24.3125V19.7188C29.25 18.6329 30.1338 17.75 31.2188 17.75C32.3038 17.75 33.1875 18.6329 33.1875 19.7188V24.0938C33.1875 24.456 32.8935 24.75 32.5313 24.75C32.169 24.75 31.875 24.456 31.875 24.0938V19.7188C31.875 19.3565 31.5801 19.0625 31.2188 19.0625C30.8574 19.0625 30.5625 19.3565 30.5625 19.7188V24.3125C30.5625 25.2776 31.3474 26.0625 32.3125 26.0625C33.2776 26.0625 34.0625 25.2776 34.0625 24.3125V18.4063C34.0625 18.044 34.3565 17.75 34.7188 17.75C35.081 17.75 35.375 18.044 35.375 18.4063V24.3125C35.375 26.0013 34.0013 27.375 32.3125 27.375Z" fill="#A6B4BF")

          //-       input(type="file", name="file", multiple, accept="image/*, .pdf, .doc, .docx").upload__input
            
          //-   .tender-form__bottom
          //-     label.checkbox.tender-form__bottom-privacy
          //-       input(type="checkbox" name="privacy" required).checkbox__input
          //-       span.checkbox__checkmark
          //-       span.checkbox__text.tender-form__link
          //-         | согласен с политикой конфиденциальности
              
          //-     +button(page.content.form.button, 'button')
                

          